<h3>Create a New Post</h3>



{{input value=formula.val placeholder="Enter your formula here..."}}
<div id="result"></div>
<button {{action "calculate" formula}}>calculate</button>


{{!-- <form id="NewPost">
    <p>
      {{input value=newPost.title placeholder="Title"}}
      {{input value=newPost.author placeholder="Author"}}
    </p>
    <p>
      {{textarea value=newPost.text placeholder="Content" rows="10" cols="140"}}
    </p>
    <p>
        <button {{action "createPost"}}>Publish</button>
    </p>
</form> --}}